.app-container {
  display: flex;
  flex-direction: column;
  background-color: #161625;
  min-height: 100vh;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 80%;
  max-width: 1110px;
  margin-top: 40px;
}
.co-win-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.website-logo {
  width: 50px;
  height: 50px;
}
.logo-heading {
  color: #2cc6c6;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 600;
  line-height: 1.5;
  margin-left: 15px;
}
.heading {
  color: #cbd5e1;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 600;
  line-height: 1.5;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.failure-view-image {
  width: 50%;
}
.failure-heading {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Bree Serif';
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.loading-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.api-success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
